*, *::before, ::after{

box-sizing: border-box;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height:100vh;
    justify-content:center;
    align-items:center;
    background-color:midnightblue;
    background-image: url('images/harry\ potter\ roof.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#question {
    font-size: 30px;
    color: midnightblue;
    border: 5px solid grey;
    padding: 10px;
    margin: 10px;

}

.question-container {
   transition: opacity 4s ease-in-out;
}
#answer-buttons {
   transition: opacity 3s ease-in-out;
}
 .container{
    width:800px;
    max-width: 80%;
    background-color: grey;
    border-radius:5px;
    padding 5px;
    box-shadow: 0 0 10px 2px;

 }
 
 .btn-grid {
    display:grid;
    grid-template-columns: repeat(2,auto);
    gap:10px;
    margin: 20px;
 }

 .btn {
    background-color: rgb(149, 14, 234);
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 10px;    

 }

 .start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
 }

 .controls{
    display:flex;
    justify-content: center;
    align-items: center;
 }

 .hide {
    display: none;

 }
   
 .result-button{
   background-color: rgb(234, 14, 161);
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 10px; 
    margin: 5px;
    

 }
.correct {
   background-color: rgb(80, 235, 80)
}
.wrong {
   background-color: rgb(255, 0, 0)
}

